/*
Theme Name:     Shuttle seeMinimal
Theme URI:      https://shuttlethemes.com/features/
Author:         Shuttle Themes
Author URI:     https://www.shuttlethemes.com
Description:    Shuttle seeMinimal is the awesome free version of Shuttle Pro. It is really good for professionals. If you want to make a business, for big or small this theme is good for you. So if it is a restaurant, sport, medical, startup, corporate, business, ecommerce, portfolio, freelancers or any type of online agency or firm you will want to use this cool design. It had a multi-purpose design with widget areas in footer, so now even easy to make blog / news website which looks really clean and professional. The theme is responsive, WPML, Polylang, Retina ready, SEO friendly, and is a super design. Shuttle is fast and lightweight and can be used for any type of website, fully compatible with eCommerce plugins like WooCommerce an JigoShop. Whether you are building a website for yourself, your business or are a freelancer building websites for your cliente, Shuttle is the perfect choice. Plus if works with all the major page builders such as Elementor, Beaver Builder, Visual Composer, Divi, SiteOrigin and so much more!
Template:       shuttle
Version:        1.0.0
License: GNU    General Public License v2 or later
License URI:    https://www.gnu.org/licenses/gpl-2.0.html
Tags:           one-column, two-columns, three-columns, right-sidebar, left-sidebar, custom-header, custom-menu, full-width-template, theme-options, threaded-comments, editor-style, featured-images, featured-image-header, post-formats, sticky-post, translation-ready, flexible-header, custom-background, grid-layout, footer-widgets, blog, e-commerce, portfolio, rtl-language-support
Text Domain:	shuttle-seeminimal
*/

/* Pre Header Style */
#pre-header {
	background-color: #f7f7f7;
	border-bottom: none;
}
#pre-header .header-links > ul > li:before {
	display: none;
}
#pre-header .header-links > ul > li {
	border-right: 1px solid #e7e7e7;
}
#pre-header .header-links > ul > li:first-child {
	border-left: 1px solid #e7e7e7;
}
#pre-header-social li a {
	color: #aaa;
	border-left: 1px solid #e7e7e7;
}
#pre-header-social a:last-child li {
	border-right: 1px solid #e7e7e7;
}
#pre-header-social li:last-child {
	border: none;
}

/* Header Style */
#header {
	border-bottom: none;
}
#header-sticky {
	border-color: #eee;
}
#header .menu > li.menu-hover > a,
#header .menu > li.current_page_item > a,
#header .menu > li.current-menu-ancestor > a,
#header .menu > li > a:hover,
#header-sticky .menu > li.menu-hover > a,
#header-sticky .menu > li.current_page_item > a,
#header-sticky .menu > li.current-menu-ancestor > a,
#header-sticky .menu > li > a:hover {
	color: #fff;
	background-color: #13aff0;
}

/* Intro Style */
#introaction .three_fourth {
	margin-right: 0;
	width: 100%;
	float: 	none;	
	text-align: center;	
}
#introaction .one_fourth {
	margin-left: 0;
	width: 100%;
	float: none;	
	text-align: center;	
}
a.themebutton {
	background-color: transparent;
	border: 2px solid #13aff0;
	color: #13aff0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
a.themebutton:hover {
	color: #fff;
	background-color: #13aff0;
}
#introaction-core,
#outroaction-core,
.sc-action-core {
	padding: 45px 45px 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.action-text h3 {
	border-bottom: 1px solid #e8e8e8;
	width: auto;
	display: inline-block;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 700;
}

/* Featured Style */
#section-home-inner .services-builder {
	background-color: #f7f7f7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.iconimage {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 3px solid #13aff0;
}
.services-builder.style1 h3 {
	border-bottom: 1px solid #e7e7e7;
	padding: 0px 20px 15px 20px;
}
.services-builder.style1 p {
	margin: 10px;
}
.services-builder.style1 .iconmain {
	padding-top: 20px;
}
.services-builder.style1 .iconurl {
	padding: 20px 0 0 0;
}
.services-builder.style1 .iconurl a {
	opacity: 1;
	color: #13aff0;
	background: none;
	border: 2px solid #13aff0;
	padding: 5px 20px 5px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.services-builder.style1 .iconurl a:hover {
	opacity: 1;
	color: #fff;
	background-color: #13aff0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

/* Footer Style */
#footer {
	border-top: 3px solid #388ea6;
}
#footer-core h3 {
	width: 100%;
	border-bottom: 1px solid #eee;
}
#footer .widget li a {
	color: #4a4a4a;
}
#footer .widget_recent_entries li,
#footer .widget_recent_comments li {
	margin-bottom: 15px;
}
#footer .widget_recent_entries li:last-child,
#footer .widget_recent_comments li:last-child {
	margin-bottom: 0px;
}
#footer .widget_recent_entries li span,
#footer .widget_recent_comments li span {
	display: block;
	font-weight: 700;
	color: #aaa;
	font-size: 12px;
}
#footer-core .widget_recent_entries li > a:before {
	display: none;
}
#footer .widget a:hover {
	color: #388ea6;
}
#footer .widget_recent_comments li span a {
	font-weight: normal;
	font-size: 14px;
}
#sub-footer {
	border-top: none;
	background-color: #f7f7f7;
}
#footer-menu li:after {
	display: none;
}
#footer-menu li a {
	color: #7a7a7a;
}
#footer-menu li a:hover {
	color: #388ea6;
}

/* Page Heading Style */
#intro {
	background-color: #f7f7f7;
	text-align: left;
}
#intro .page-title span {
	padding: 0px;
	color: #1e1e1e;
}
#intro.option2 .page-title {
	position: relative;
	padding-left: 20px;
	margin-bottom: -15px;
}
#intro.option2 #breadcrumbs {
	margin-left: 15px;
	color: #7a7a7a;
}
#intro.option2 .page-title::before {
	height: 80px;
	width: 6px;
	background-color: #388ea6;
	content: '';
	position: absolute;
	left: 0;
}

/* Blog Style */
.blog-article .one_third {
	width: 100%;
	margin-right: 0;
	float: none;
}
.blog-article .blog-thumb {
	width: 100%;
	border-bottom: 3px solid #388ea6;
}
.blog-article .two_third {
	margin-left: 0;
	width: 100%;
	float: none;
}
.blog-article .entry-meta {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.blog-article .entry-meta a {
	color: #388ea6;
}
.blog-article .entry-meta span i {
	color: #388ea6;
}
.blog-article .entry-meta a:hover {
	color: #7a7a7a;
}
.navigation.pagination {
	border-top: 2px solid #eee;
	padding-top: 60px;
}
.navigation.pagination .nav-links a,
.navigation.pagination .nav-links span {
	border: 1px solid #cdcdcd;
	color: #1e1e1e;
	width: 36px;
	height: 36px;
	line-height: 36px;
}

/* Sidebar Style */
#sidebar h3.widget-title {
	border-bottom: none;
	color: #388ea6;
	margin-bottom: 0px;
}
#sidebar h3.widget-title:before {
	display: none;
}
#sidebar .widget_recent_entries li span,
#sidebar .widget_recent_comments li span {
	display: block;
	font-size: 12px;
	font-weight: 700;
	color: #aaa;
}
#sidebar a {
	color: #1e1e1e;
}
#sidebar a:hover {
	color: #388ea6;
}
#sidebar .widget_recent_entries li a:before,
#sidebar .widget_recent_comments li a:before {
	display: none;
}
#sidebar .widget_recent_entries li,
#sidebar .widget_recent_comments li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
#sidebar .widget_recent_entries li:last-child,
#sidebar .widget_recent_comments li:last-child {
	margin-bottom: 0px;
	padding-bottom: none;
	border-bottom: none;
}
#sidebar .widget_meta li,
#sidebar .widget_archive li,
#sidebar .widget_categories li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}
#sidebar .widget_meta li:last-child,
#sidebar .widget_archive li:last-child,
#sidebar .widget_categories li:last-child {
	margin-bottom: 0px;
	padding-bottom: none;
	border-bottom: none;
}

/* Single Post Style */
.single .entry-meta {
	text-align: left;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	color: #388ea6;
}
.single .entry-meta a {
	color: #388ea6;
}

/* Post Naviation Style */
.nav-previous a,
.nav-next a {
	border: 2px solid #388ea6;
	background-color: transparent;
	color: #388ea6;
	transition: all .3s;
}
.nav-previous a:hover,
.nav-next a:hover {
	background-color: #388ea6;
	color: #fff;
}
#nav-above,
#nav-below {
	padding: 30px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* Comments Style */
#comments-title h3 {
	text-align: left;
	color: #388ea6;
	font-size: 18px;
	font-weight: 700;
}
.commentlist {
	text-align: left;
	display: inline-block;
}
.commentlist .avatar {
	margin: 0px;
	width: 80px;
}
.commentlist article header {
	text-align: left;
}
.commentlist article footer {
	text-align: left;
	display: inline-block;
}
.commentlist .comment,
.commentlist .pingback {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.commentlist article header .reply {
	float: right;
}
#reply-title {
	text-align: left;
	color: #388ea6;
	font-size: 18px;
	font-weight: 700;
}
#commentform input[type="submit"] {
	border: 2px solid #388ea6;
	background-color: transparent;
	color: #388ea6;
}
#commentform input[type="submit"]:hover {
	color: #fff;
	background-color: #388ea6;
}
#commentform #comment {
	outline: none;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.comment-respond .form-submit {
	text-align: left;
}